* {
    box-sizing: border-box;
}

.menu-items:hover .dropdown-menu {
    display: block;
    transform: translateY(12px);
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    transform: translateY(40px);
    transition: all 0.5s ease;
    opacity: 0;
    box-shadow: -2px 2px 70px -25px rgb(0 0 0 / 30%);
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -36px;
    left: 20px;
    height: 0;
    border-top: 18px solid transparent;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: 18px solid white;
}